modules = ["python-3.12", "vue-node-20", "nodejs-20", "bash"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "ffmpeg-full", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "zlib"]

[agent]
expertMode = true
